<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- enlazando el mismo css -->
  <link rel="stylesheet" href="../../css/main.css">
  <!-- Añadiendo libreria char.js para hacer gráficas -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <title>CDMX</title>
</head>

<body>

  <body>
    <nav id="menu">
      <div class="home estilo_menu">
        aqui iria el logo de laboratoria que te direccionaria a la pagina principal
      </div>
      <div class="estilo_menu">
        <a class="cities" href="../AQP/aqp.html">AQP</a>|
        <a class="cities" href="../CDMX/cdmx.html">CDMX</a>|
        <a class="cities" href="../SCL/scl.html">SCL</a>|
        <a class="cities" href="lim.html">LIM</a>|
      </div>

    </nav>
    <!-- enlazando la data -->
    <script type="text/javascript" src="../../js/data.js"></script>
    <!-- enlazando el JS principal, para poder llamar sus funciones en caso de ser necesario -->
    <script type="text/javascript" src="../../js/app.js"></script>
    <!-- enlazando su propio JS -->
    <script type="text/javascript" src="lim.js"></script>

  </body>

</html>
